---
import siteConfig from '../data/site-config.ts';

const services = siteConfig.services;
---

{
    services?.map(
        (service) =>
            (service.title || service.description || service.image) && (
                <a href={service.url}> <!-- Add this line -->
                    <section>
                        <h1>{service.title}</h1>
                        <p>{service.description}</p>
                        <img src={service.image.src} alt={service.image.alt} />
                    </section>
                </a> <!-- And this line -->
            )
    )
}