---
import siteConfig from '../data/site-config';
---

<h1 class="header">Services</h1>
<div class="services-container">
    {
        siteConfig.services?.map((service) => (
            <section class="service-section">
                <div class="content-container">
                    <div class="image-container">
                        <img src={service.image.src} alt={service.image.alt} />
                        <div class="overlay">
                            <h1>{service.title}</h1>
                        </div>
                    </div>
                    <p class="service-description text-center">{service.description}</p>
                </div>
                <div class="button-container">
                    <a href={service.url} class="schedule-button" role="button">
                        Schedule
                    </a>
                </div>
            </section>
        ))
    }
</div>

<style>
    .header {
        text-align: center;
        font-size: xx-large;
        font-weight: 900;
        margin-bottom: 50px;
    }

    .services-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        margin-top: 20px;
    }

    .service-section {
        flex-basis: 33.33%;
        box-sizing: border-box;
        padding: 10px;
        position: relative;
        margin-bottom: 10px;
        min-height: 100%;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    @media (max-width: 600px) {
        .service-section {
            flex-basis: 100%;
        }
    }

    .image-container {
        height: 60%;
        width: auto;
        overflow: hidden;
        position: relative;
    }

    .image-container img {
        max-width: 100%;
        height: 400px;
        min-width: 200px;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        color: #fff;
        justify-content: center;
        align-items: center;
    }

    .service-title {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .service-description {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .button-container {
        margin-top: auto;
        display: flex;
        justify-content: center;
    }

    .schedule-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6px 14px;
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
        border-radius: 6px;
        border: none;

        background: #6e6d70;
        box-shadow:
            0px 0.5px 1px rgba(0, 0, 0, 0.1),
            inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
            0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
        color: #dfdedf;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .schedule-button:focus {
        box-shadow:
            inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
            0px 0.5px 1px rgba(0, 0, 0, 0.1),
            0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
    }
</style>
